@inherits LayoutComponentBase

<PageTitle>Minecraft Hub</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://www.patreon.com/stockdrops/" target="_blank">Patreon</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
