@page "/link/patreon"
@page "/"

@using MinecraftApi.Core.Models
@using MinecraftApi.Integrations.Models.Legacy
@using MinecraftApi.Integrations.Patreon
@using MinecraftApi.Integrations.Services
@using MinecraftBlazingHub.Services.Integrations
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.Identity.Web

@inject MicrosoftIdentityConsentAndConditionalAccessHandler ConsentHandler
@inject IBlazorPatreonService PatreonService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NotificationService NotificationService
@inject LegacyApiService LegacyApiService
@inject PlayerLinkingService PlayerLinkingService 

@using Radzen.Blazor
<PageTitle>Link your accounts</PageTitle>
<RadzenNotification />
@if (string.IsNullOrEmpty(Code))
{
    @if (string.IsNullOrEmpty(RequestId))
    {
        //the request id is null so let's show some instructions
        <RadzenCard>
            <h4>How to link my accounts?</h4>
            <p>
                To link your Minecraft player account to a Patreon or Legacy subscription (my.stockdrops.net) please run the command "link" on our Minecraft server first: <a href="play.stockdrops.net">play.stockdrops.net</a>
                </p>
                <p>
                You will be given a unique url where you can link your accounts.
                Thank you!
            </p>
        </RadzenCard>
    }
    else if(!IsLinking && !LinkRequested)
    {
        
        <RadzenCard>
            <RadzenButton Text="Connect With Patreon" Click=@(async args => await OnClickAsync(SupportedIntegrations.Patreon)) />
        </RadzenCard>
        <RadzenCard>
            <RadzenButton Text="Connect to Legacy Subscriptions (my.stockdrops.net)" Click=@(async args => await OnClickAsync(SupportedIntegrations.Legacy)) />
        </RadzenCard>
    }
}
@if(LinkRequested || !string.IsNullOrEmpty(Code))
{
    <RadzenCard>
    @if (!FinishedLinking)
    {
        <h4 class="mb-4">Linking Accounts</h4>
    }
    @if (!IsLinking && Success)
    {
        <div>
            <RadzenIcon Icon="done" IconStyle="@IconStyle.Success" />
            <h4>Successful linking.</h4>
            @Message
        </div>
    }
    else if(!IsLinking && FinishedLinking) //if linking finished already.
    {
        <div>
            <h4>Error linking.</h4>
            <RadzenIcon Icon="error" IconStyle="@IconStyle.Danger" />
            @Message
        </div>
    }

    <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" Visible=@(IsLinking) />
    </RadzenCard>
}




@code {

    public bool IsComplete = false;


    int value = 2;

    void OnChange(int value)
    {
        Console.WriteLine($"Value changed to {value}");
    }
    async Task OnClickAsync(SupportedIntegrations integration)
    {
        if (integration == SupportedIntegrations.Patreon && !string.IsNullOrEmpty(RequestId))
        {
            PatreonService.RedirectUserToOauth2(RequestId);
        }
        if(integration == SupportedIntegrations.Legacy && !string.IsNullOrEmpty(RequestId))
        {
            LinkRequested = true;
            FinishedLinking = false;
            IsLinking = true;
            Success = false;

            StateHasChanged();

            await LinkLegacyAccountAsync(RequestId);
            ShowNotification(Success ? NotificationSeverity.Success : NotificationSeverity.Error);
            FinishedLinking = true;
            IsLinking = false;
            StateHasChanged();
        }

    }
    private async Task LinkLegacyAccountAsync(string requestId)
    {
        var userId = await GetUserIdAsync();
        try
        {
            (Success, Message) = await PlayerLinkingService.LinkLegacyAccountAsync(requestId, userId);
        }
        catch(Exception ex)
        {
            ConsentHandler.HandleException(ex);
        }

    }

    private async Task<string> GetUserIdAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
        {
            var objectIdClaim = user.Claims.FirstOrDefault(c => c.Type == "http://schemas.microsoft.com/identity/claims/objectidentifier");
            if (objectIdClaim != default)
                return objectIdClaim.Value;
        }
        throw new InvalidOperationException("User is not logged in!");
    }
    private void ShowNotification(NotificationSeverity severity, string summary = "")
    {
        switch (severity)
        {
            case(NotificationSeverity.Success):
                NotificationService.Notify(new NotificationMessage
                                    {
                                        Detail = "Success!",
                                        Summary = "Linking completed succesfully!",
                                        Severity = NotificationSeverity.Success
                                    });
                break;
            case(NotificationSeverity.Error):
                NotificationService.Notify(new NotificationMessage
                                    {
                                        Detail = "Error...",
                                        Summary = "Linking couldn't complete!",
                                        Severity = NotificationSeverity.Error
                                    });
                break;
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            IsLinking = true;
            StateHasChanged();
            if (!string.IsNullOrEmpty(Code) && !string.IsNullOrEmpty(State))
            {
                var userId = await GetUserIdAsync();
                (Success, Message) = await PlayerLinkingService.LinkPatreonAccountAsync(State, userId, Code);
                ShowNotification(Success ? NotificationSeverity.Success : NotificationSeverity.Error, Message);

            }
            FinishedLinking = true;
            IsLinking = false;
            StateHasChanged();
        }
    }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Code { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string? RequestId { get; set; }
    [Parameter]
    [SupplyParameterFromQuery]
    public string? State { get; set; }

    private bool LinkRequested { get; set; } = false;
    private bool IsLinking { get; set; } = false;
    private bool FinishedLinking = false;

    private string Message { get; set; } = "";
    private bool Success { get; set; }
}
